<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Taste Hub</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/posts/list">음식 배틀</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true" href="/posts/write"
            >배틀 신청</a
          >
        </li>

        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <% if (user) { %>
          <a class="nav-link" href="/profile/<%= user.nickname %>"><%= user.nickname%></a>
          <% } else { %>
          <a class="nav-link" href="/auth/login">로그인</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
